body {
    background-color: #ECE5DD;    
}

p, ol li {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    color: grey;
}

p a, ol a {
    color: #25D366;
    text-decoration: none;
}

p a:hover, ol a:hover{
    color: #34B7f1;
    text-decoration: none;
}

button:focus { 
    outline-style: none; 
}

.container-color {
    background-color: #ffffff
}

.logo {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ------------------------------------------ NAV */

.nav-wrapper {
    background-color: #075E54;
}

.nav {
    text-decoration: none;
    justify-content: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.nav a {
    font-family: 'Do Hyeon', sans-serif;
    color: #ffffff;
    size: 18pt;
    text-decoration: none;
}

.nav a:hover  {
    background-color: #25D366;
    text-decoration: wavy;
    text-shadow:1px 1px 0px rgb(2, 4, 2);
}

/* ------------------------------------------ Headings */

h1 {
    font-family: 'Do Hyeon', sans-serif;
    color: #25D366;
    line-height: 70%;
    padding: 20px;
    margin: 60px;
}

h3 {
    font-family: 'Do Hyeon', sans-serif;
    color: #075E54;
    padding: 20px;
}

/* ------------------------------------------ ICONS */

.material-icons {
    font-size: 30px;
    color: #25D366; 
}

.btn-large .material-icons {
    color: #ffffff;
}

.result-icons {
    padding: 10px;
    font-size: 40px;
    color: #ffffff;
    text-shadow:2px 2px 0px rgb(2, 4, 2) !important;
}



/* ------------------------------------------ INDEX */

.file-input-wrapper {
    background-color: #f5f2ee;
}

.file-input {
    font-size: small;
    padding: 15px;
}

.main-text {
    font-size: 18pt;
    font-weight: bolder;
    line-height: 130%;
    text-align: center;
}

.spacious-p {
    margin-top: 80px;
    margin-bottom: 0;
}

.tiny-text {
    font-size: 11px;
    display: block;
}

.load-p {
    position: relative;
    top: -10px;
}

.btn-large {
    width: 200px;
    height: 100px;
    color: #ffffff;
    font-family:'Do Hyeon', sans-serif;
    line-height: 120%;
    letter-spacing: 2px;
    border: 0px;
    border-radius: 10px;
    margin:10px;
}

.btn-large:hover{
    background-color: #25D366;
    color: #ffffff;
    border: dashed 2px black;
}

/* ------------------------------------------ FOOTER */

.footer {
    background-color: #075E54;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 10pt;
}

/* ------------------------------------------ ISSUE */

.issue {
    margin: 60px;
    font-size: 32px;
    font-family: 'Lucida Sans', sans-serif;
}

/* ------------------------------------------ RESULTS */

.result {
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.result p {
    font-size: 18 pt;
    font-family:'Nanum Gothic', sans-serif;
    margin-bottom: 5px;
}

.result span{
    font-family:'Do Hyeon', sans-serif;
    font-size: 20pt;
}

.dark {
    background-color: #075E54;
}

.dark p {
    color: #ffffff;  
}

.dark span {    
    text-shadow:2px 2px 0px rgb(2, 4, 2);
}

.light {
    background-color: #DCF8C6;
}

.light p {
    color: #075E54;
}

.light span {
    text-shadow:2px 2px 0px rgb(255, 255, 255);
}

.white {
    background-color: #ffffff;
}

.white p {
    color: #128c7e;
}

.white span {
    text-shadow:1px 1px 1px rgb(234, 240, 234);;
}

.bright {
    background-color: #34B7f1;
}

.green {
    background-color: #25D366;
}

.bright p {
    color: #ffffff;
}

.bright span {
    text-shadow:1px 1px 1px rgb(2, 4, 2);
}

.light a {
    color: #34B7f1;
}

.light a:hover {
    color: #25D366;
}

.highlight {
    color: rgb(213,255,0);
}

.dark-highlight {
    color: #032924;
}

.session_id {
    font-size: 10pt;
    text-align: left;
}

.session_id span {
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Nanum Gothic', sans-serif;
}

/* ------------------------------------------ HOW TO USE */

.chat-image{
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/how-to.jpg");
    margin: 20px;
}


.how-to {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.how-to span {
    font-weight: bolder;
    font-size: 16pt;
}

ol li{
    margin-bottom: 20pt;
}

.edit-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ------------------------------------------ FLASHED */

.flashed {
    background-color: #DCF8C6;
}

/* ------------------------------------------ LOADING */

.loading-show {
    width: 100%;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/loading.gif");
}

.loading-hidden {
    display: none;
}