{%extends 'base.html'%}

{%block content%}
<div class="col-12">
    <h3>Your results</h3>

    <p class="text-left">Your session id is: {{results._id}}</p>

    <!-- ********************************************************* PARTICIPANTS -->
    <div class="row result dark">
        <div class="col-12">
            <p>This is a story about a chat between:<br>

                {% for person in results.participants %}
                <span>{{person[0].title()}}</span>,
                {% endfor%}
            </p>
            <p>
                They have sent <span>{{results.messages}} messages</span> in <span>{{results.period_length}}
                    month(s)</span><br>
                from <span>{{results.period[0]}} to {{results.period[1]}}</span>
            </p>
        </div>
    </div>

    <!-- ********************************************************* LINKS -->
    <div class="row result light">
        <div class="col-12">
            <p>During this time, <br>
                {% for person in results.links %}
                <span>{{person.title()}}</span> sent <span>{{results.links[person]}} </span><br>
                {% endfor%}
                <span>Links</span>
            </p>

        </div>
    </div>

    <!-- ********************************************************* MEDIA -->
    <div class="row result white">
        <div class="col-12">
            <p>And they also shared <span>media:</span> <br>
                {% for person in results.media %}
                <span>{{person.title()}}</span> sent <span>{{results.media[person]}} </span><br>
                {% endfor%}
                media files
            </p>

        </div>
    </div>

    <!-- ********************************************************* MESSAGES -->
    <div class="row result bright">
        <div class="col-12">
            <p>
                The person who sent <span>more messages</span> was<br>
                <span>{{results.participants[0][0].title()}} with
                    {{results.participants[0][1]}} messages! </span>
            </p>
            <p>
                Followed by
                {% for person in results.participants %}
                {% if person == results.participants[0] %}
                -
                {% else %}
                <span>{{person[0].title()}}</span> with
                <span>{{person[1]}} </span> messages -<br>
                {% endif %}
                {% endfor %}
            </p>

        </div>
    </div>

    <!-- ********************************************************* WORD 1 -->

    <div class="row result light">
        <div class="col-12">
            <p>
                The <span>Word</span> that most appeared in this chat was:<br>
                <span>{{results.words[0][0].upper()}} :
                    {{results.words[0][1]}} times! </span>
            </p>

            <div class="container">
                <canvas id="word-1"></canvas>
            </div>
        </div>
    </div>

    <!-- ********************************************************* WORD 2 -->

    <div class="row result white">
        <div class="col-12">
            <p>
                The <span>2nd Word</span> that most appeared in this chat was:<br>
                <span>{{results.words[1][0].upper()}} :
                    {{results.words[1][1]}} times! </span>
            </p>

            <div class="container">
                <canvas id="word-2"></canvas>
            </div>
        </div>
    </div>

    <!-- ********************************************************* OTHER WORDS -->

    <div class="row result dark">
        <div class="col-12">
            <p>
                Other words that also appeared a lot are:<br>
                {% for word in results.words %}
                {% if word == results.words[0] or word == results.words[1] %}
                {{continue}}
                {% else %}
                <span>{{word[0]}}</span>,
                <span>{{word[1]}} </span> times<br>
                {% endif %}
                {% endfor %}
            </p>

        </div>
    </div>

    <!-- ********************************************************* LONGEST WORD -->
    <div class="row result bright">
        <div class="col-12">
            <p>The longest word among all words typed was:<br>
                <span>{{results.longest_word}}</span>,<br>
                said by <span>{{results.longest_word_dates[0][1].title()}}</span> on
                <span>{{results.longest_word_dates[0][0]}}</span>
            </p>

        </div>
    </div>

    <!-- ********************************************************* WORD COMBINATION 1 -->

    <div class="row result white">
        <div class="col-12">
            <p>
                The <span>3 Words</span> that most appeared <span>combined</span> in this chat were:<br>
                <span>{{results.words_combinations[0][0].upper()}} !
            </p>

            <div class="container">
                <canvas id="words-1"></canvas>
            </div>
        </div>
    </div>

    <!-- ********************************************************* OTHER COMBINED WORDS -->

    <div class="row result dark">
        <div class="col-12">
            <p>
                Other words that also appeared a lot side by side were:<br>
                {% for word in results.words_combinations %}
                {% if word == results.words[0] %}
                {{continue}}
                {% else %}
                <span>{{word[0]}}</span>,
                <span>{{word[1]}} </span> times<br>
                {% endif %}
                {% endfor %}
            </p>

        </div>
    </div>


    {%for result in results%}
    <p>{{result}}: {{results[result]}}</p>
    {%endfor%}
    <a href="{{ url_for('edit_results', results_id=results._id) }}"><button>Restrict the use of this data</button></a>
</div>



<script>
    let word1Chart = chartData("word-1", "{{results.word_1_result}}",
        "monthly use of: {{results.words[0][0].upper()}}", 'times this word appeared', '#075E54');
    let word2Chart = chartData("word-2", "{{results.word_2_result}}",
        "monthly use of: {{results.words[1][0].upper()}}", 'times this word appeared', '#128c7e');
    let words1Chart = chartData("words-1", "{{results.word_seq_1_result}}",
        "monthly use of: {{results.words_combinations[0][0].upper()}}", 'times these words appeared together', '#128c7e');

    createChart(word1Chart);
    createChart(word2Chart);
    createChart(words1Chart); 
</script>



{%endblock%}