{%extends 'base.html'%}
{%block content%}

<div class="col-12">
    <h3>Global results:</h3><br>
    <div class="row result dark">
        <div class="col-12">
            <p>This site has checked <span>{{global_results.count}}</span> messages so far!</p>
        </div>
        
    </div>
    <div class="row result light">
        <div class="col-12">
            <p>
                <span><i class="material-icons result-icons">clear_all</i></span><br>
                The most popular words found in all chats are:<br>
                {% for word in global_results.words %}
                <span>{{word[0]}}</span>,
                <span>{{word[1]}} </span> times<br>
                {% endfor %}
            </p>
        </div>
        
    </div>
    <div class="row result white">
        <div class="col-12">
            <p>
                <span><i class="material-icons result-icons">sort</i></span><br>
                We also counted how many <span>characters</span> each message had.<br>
                Then, all those numbers were grouped according to their <span>leading digit</span>.
                <br>
                This chart represents the percentage each leading digit appeared in the character count from all chats:
            </p>
            <!-- ******************************************** CHART BENFORD'S -->

            <div class="container">
                <canvas id="global-benford"></canvas>
            </div>

            <p>
                Are they constantly or irregularly distributed?

            </p>
            <p>

                If they make a nice descending curve, you must know that
                the average of all chats is 
                following Benford's law: an observation that <span>random numbers are not as random as we think!</span>
            </p>
            <p><a href="https://en.wikipedia.org/wiki/Benford%27s_law" target="_blank">Learn more about Benford's Law
                    here.</a></p>
        </div>
    </div>
</div>

<script>
    if ("{{global_results.benford}}" != "") {
        let benford = chartData("global-benford", "{{global_results.benford}}",
            "Benford's Law", "Character count starting with this digit", '#34B7f1');
        createChart(benford);
    };

</script>

{%endblock%}