{%extends 'base.html'%}
{%block content%}
<div class="col-12">
    <p class="main-text">Find out the words<br class="d-block d-sm-none"> that appear the&nbsp;most <br>on your
        WhatsApp&nbsp;chat!</p>


    <!-- ********************************************************* FLASH MESSAGES -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashed">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="form-area">
        <p class="spacious-p">

            <span class="load-p">Load a .txt file with a WhatsApp chat: </span>
        </p>
        <form action="getfile" method="POST" enctype="multipart/form-data">

            <div class="file-input-wrapper">
                <p>
                    <input type="file" name="myfile" class="file-input">
                </p>
            </div>
            <!-- ********************************************************* USER IGNORED WORDS -->
            <p class="ignored-words">
                WORDS TO BE IGNORED:
                <input type="text" id="ignored" name="ignored" placeholder="like this: hello, more, morning">
            </p>
            <!-- ********************************************************* LOADING -->
            <div id="loading" class="loading-hidden">
            </div>

            <!-- ********************************************************* SUBMIT -->
            <p>
                <a><input class="btn-large dark" type="submit" value="Check this chat!" onclick="showLoading()"></a>
            </p>

        </form>
    </div>
    <p><span class="tiny-text">Don’t worry, we don’t keep any data you don’t want us to keep =)</span></p>
</div>

<!-- ********************************************************* CONSULT -->
<div class="col-12">
    <p class="spacious-p">You can consult data from a previous session with your session id <a
            href="{{ url_for('consult') }}"><b>here</b></a>.
    </p>
</div>
{%endblock%}